#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-header {
  margin-top: 0;
  font-size: 3.2rem;
}

.sub-title {
  margin-top: 0rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.beerNameDisplay {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.version-number {
  font-size: 0.8rem;
  margin-left: 75%;
}

.logo-image {
  margin-top: -5rem;
  margin-bottom: 2.5rem;
  max-width: 75%;
}

