#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-header {
  margin-top: -1rem;
  font-size: 2.8rem;
}

.sub-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.beerNameDisplay {
  margin-top: 5rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  min-height: 12vh;
  max-height: 15vh;
}

.version-number {
  font-size: 0.8rem;
  margin-left: 75%;
  margin-top: 2rem;
}

.logo-image {
  margin-top: 0;
  margin-bottom: 3.5rem;
  width: 50%;
  max-width: 50%;
  height: 25vh;
  max-height: 25vh;
  /*border: 1px solid black;*/
}

.container {
  /*border: 1px solid pink;*/
  margin: auto;
  min-width: 85vw;
  min-height: 90vh;
}

@media only screen and (min-width: 800px) {
  .container {
    /*border: 1px solid pink;*/
    margin: auto;
    min-width: 60vw;
  }
  .logo-image {
    width: 30%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    /*border: 1px solid pink;*/
    min-height: 80vh;
    min-width: 80vw;
  }
  .logo-image {
    margin-bottom: 1rem;
  }
  .version-number {
    margin-top: 1rem;
    font-size: 0.7rem;
  }
  .sub-title {
    font-size: 2.2rem;
  }
  .beerNameDisplay {
    margin-top: 1.4rem;
  }
}